/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}
/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
	 @font-face {
	   font-family: 'Avenir';
	   src: url("http://www.yoursite.com/fonts/Avenir.otf"); /* File to be stored at your site */
	   }

body {
     border: 0px;
		 font-family: "Avenir" !important;
}

.sidebar
{
	background-color: #263238;
	height:100vh;
}

.main
{
	height: 100vh;
	background-color: pink;
}

.find
{
	background-color: white;
	align: center;
}

.links
{
	font-size: 32px;
	font-style: italic;

	background-color: black;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: relative;
}

.square {
height: 50px;
width: 50px;
background-color: #5;
}

 .big-checkbox {width: 30px; height: 30px;}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background-color: gray;
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}
.login {
	height: 20px;
	width: 200px;
}

.usernameLabel {

}

.createAccount {
	font-size: 10px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: relative;
}
